workflow/Collect Videos.json
{
  "name": "Collect Videos",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae0141e0-2c41-4282-b4a4-96d6fa9c53a3",
              "name": "channel_username",
              "value": "={{ $json['Enter Url / Link'].replace(/^https?:\\/\\/(www\\.)?youtube\\.com\\/@/, '').replace(/^@/, '').replace(/\\/.*$/, '') || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        256
      ],
      "id": "10784486-a005-4f30-99dd-dab8a82a6174",
      "name": "Channel Username"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "id"
            },
            {
              "name": "forHandle",
              "value": "={{ $json.channel_username }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        256
      ],
      "id": "d0566d78-d21c-4544-855d-fb4097b4b82e",
      "name": "Get Channel ID",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "yjYbLF8zXRkVAFaJ",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/playlists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "channelId",
              "value": "={{ $json.items[0].id }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        256
      ],
      "id": "ccff1cee-3e99-4e6c-a0ef-33a58f97d8c4",
      "name": "Get Playlists",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "yjYbLF8zXRkVAFaJ",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Enter details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What do you want to transcribe and summarise?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Video"
                  },
                  {
                    "option": "Playlist"
                  },
                  {
                    "option": "Channel"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Enter Url / Link",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -688,
        64
      ],
      "id": "7571e01d-a4a5-4b3b-a84c-c106b579b2e8",
      "name": "On form submission",
      "webhookId": "d869b846-111d-4f53-96e4-2c4a533d9ed6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "selectedOtherFields",
        "fieldsToInclude": "snippet.title",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        256
      ],
      "id": "e76a3cd1-a780-4939-b17e-b31c562577da",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15926ea9-4dbe-4a98-ab72-20011d9e0cfa",
              "leftValue": "={{ $json.pageInfo.totalResults }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        256
      ],
      "id": "9ebbbde5-0fbf-46b6-ae1b-893b96bba53d",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['What do you want to transcribe and summarise?'] }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4b5be827-a47c-4a08-b97e-2ae95b785500"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b97d9f5-ffc3-4601-93e5-91c03a558358",
                    "leftValue": "={{ $json['What do you want to transcribe and summarise?'] }}",
                    "rightValue": "Playlist",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d761c717-6691-4e88-a879-ccb5674ea885",
                    "leftValue": "={{ $json['What do you want to transcribe and summarise?'] }}",
                    "rightValue": "Channel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -464,
        48
      ],
      "id": "2af8a4d4-4f3c-4a28-b1fa-b47878b23316",
      "name": "Switch - Video/Playlist/Channel"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/playlists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.items.id }}"
            },
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        256
      ],
      "id": "4605f469-6282-4871-b201-7fbd3762fe80",
      "name": "Get Playlist Details_Channel",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "yjYbLF8zXRkVAFaJ",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "playlistId",
              "value": "={{ $json.items[0].id }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pageToken",
                    "value": "={{$response.body.nextPageToken}}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{typeof $response.body.nextPageToken == 'undefined'}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        256
      ],
      "id": "1013734d-8a3b-45a7-85ef-5a9d564d912e",
      "name": "Get Videos from Playlists_Channel",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "yjYbLF8zXRkVAFaJ",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/playlists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.playlistId }}"
            },
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        64
      ],
      "id": "c7b0481c-a25a-4d9f-a84f-ad21e8a46e03",
      "name": "Get Playlist Details_Channel1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "yjYbLF8zXRkVAFaJ",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "playlistId",
              "value": "={{ $json.items[0].id }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pageToken",
                    "value": "={{$response.body.nextPageToken}}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{typeof $response.body.nextPageToken == 'undefined'}}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        64
      ],
      "id": "c37c9a12-e90d-484e-ba80-9c90076477af",
      "name": "Get Videos from Playlists_Channel1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "yjYbLF8zXRkVAFaJ",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "De-Duplication"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -16,
        -128
      ],
      "id": "41f7a7cc-097f-4f40-93bc-4107f086061d",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "De-Duplication"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        432,
        64
      ],
      "id": "57d00c9b-0cf0-4710-b052-9ab441cbf6df",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "De-Duplication"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1328,
        256
      ],
      "id": "fb7548d8-42f1-42ea-b9b7-492fc6e7aa0b",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"items\": \n[{\n\"snippet\": \n{\n\"resourceId\": \n{\n\"videoId\": \n\"{{ $json['Enter Url / Link']\n  .replace(/^.*(youtu\\.be\\/|v=)/, '')   // keep only after youtu.be/ or v=\n  .replace(/[\\?&].*$/, '')              // strip query params like ?si=...\n  || '' }}\"\n},\n}\n}\n\n]}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -128
      ],
      "id": "9256b7d3-7088-4768-ba8f-dc5907d44937",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const urlRaw = ($input.first().json['Enter Url / Link'] ?? \"\").toString().trim();\n  let urlStr = urlRaw;\n  if (!/^[a-z]+:\\/\\//i.test(urlStr)) urlStr = 'https://' + urlStr.replace(/^\\/\\//, '');\n  let id = null;\n  try {\n    const u = new URL(urlStr);\n    id = u.searchParams.get('list');\n    if (!id && u.hash) {\n      const m = u.hash.match(/[?&#]list=([^&#]+)/i);\n      if (m) id = decodeURIComponent(m[1]);\n    }\n  } catch {}\n  if (!id) {\n    const m = urlStr.match(/(?:[?&#])list=([^&#]+)/i);\n    if (m) id = decodeURIComponent(m[1]);\n  }\n  if (!id && /^[A-Za-z0-9_-]{10,}$/.test(urlRaw)) id = urlRaw;\n\n  return { json: { ...item.json, playlistId: id } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        64
      ],
      "id": "112cf23e-0b99-4312-a53e-a53bff15953c",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Channel Username": {
      "main": [
        [
          {
            "node": "Get Channel ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel ID": {
      "main": [
        [
          {
            "node": "Get Playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Playlists": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch - Video/Playlist/Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get Playlist Details_Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Video/Playlist/Channel": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Channel Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Playlist Details_Channel": {
      "main": [
        [
          {
            "node": "Get Videos from Playlists_Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos from Playlists_Channel": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Playlist Details_Channel1": {
      "main": [
        [
          {
            "node": "Get Videos from Playlists_Channel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos from Playlists_Channel1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get Playlist Details_Channel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8a1e9f0-cc73-4bf3-ba24-5387ece9c2e8",
  "meta": {
    "instanceId": "475daac84cac0803a26cc78d72459f365d29a76e384de860efeb8e77b778ad67"
  },
  "id": "Jk8Jj2SGaPJkQCJo",
  "tags": []
}